.burgerbutton {
  position: fixed;
  left: 68%;
  z-index: 5;
  top: 1.8%;
  background-color: transparent;
  border: none;
}

.burgerbutton__list {
  display: none;
  position: absolute;
  right: 2%;
}
.burgerbutton__input:checked ~ .burgerbutton__list {
  display: block;
}

.burgerbutton__input {
  display: none;
}

.burgerbutton__label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  user-select: none;

  z-index: 5;
}

.burgerbutton__label:hover {
  opacity: 0.7;
}
.burgerbutton__list-item:hover {
  background-color: lightgrey;
  filter: brightness(110%);
}

.burgerbutton__list-item {
  display: block;
  background: #5c8bea;
  filter: brightness(110%);
  margin: 0;
  padding: 18px;
  list-style: none;
  border-bottom: 1px solid #000;
  width: 100%;
  border-radius: 9px;
  text-decoration: none;
  opacity: 1;
}
.burger__nav-link {
  color: black;
  text-decoration: none;
  transition: 0.03s;
  font-size: 28px;
}

.burger__nav-link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 800px) {
  .burgerbutton {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .burgerbutton__list {
    position: absolute;
    z-index: 5;

    text-decoration: none;
    display: block;
  }
}

@media screen and (min-width: 320px) {
  .burgerbutton__list {
    font-size: 12px;
  }
}
