.digits {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 100px 0;
  margin: 0 auto;
}
.digits__section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.digits__section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0px auto 60px;
}

.digits__table {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
  margin: auto;
  padding-left: 0;
}

.digits__table-cell {
  width: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style: none;
}

.digits__table-heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.digits__table-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

@media screen and (max-width: 1054px) {
  .digits__section-subtitle {
    padding-top: 3.5%;
  }
  .digits {
    display: flex;
    flex-direction: column;
    align-content: end;
  }

  .digits__table {
    justify-content: center;
    column-gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .digits__section-subtitle {
    padding-top: 5%;
    width: 45%;
  }
  .digits {
    display: flex;
    flex-direction: column;
    align-content: end;
  }

  .digits__table {
    justify-content: center;
    column-gap: 20px;
  }
  .digits__section-title {
    width: 65%;
    font-size: 55px;
  }
}
@media screen and (max-width: 530px) {
  .digits__section-subtitle {
    padding-top: 6%;
    font-size: 20px;
    width: 45%;
  }
  .digits {
    display: flex;
    flex-direction: column;
    align-content: end;
    padding: 60px 0;
  }

  .digits__table {
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .digits__section-title {
    font-size: 50px;
  }
  .digits {
    padding: 60px 0;
  }
  .digits__section-subtitle {
    font-size: 18px;
    width: 50%;
  }
}
