.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.header__title {
  width: 57%;
  margin-left: 5%;
  position: absolute;
  top: 17.75%;
  line-height: 96px;
  font-size: 6em;
  font-weight: bold;
  z-index: 2;
}
.header__subtitle {
  line-height: 25px;
  font-size: 1.12em;
  font-weight: normal;
  width: 31%;
  position: absolute;
  left: 5%;
  bottom: 4%;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: 0.03s;
}

.header__link:hover {
  opacity: 0.7;
}
.header__main-illustration {
  position: absolute;
  width: 59%;
  height: 82%;
  bottom: 0;
  right: 0px;
  z-index: 1;
}
.header__square {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;

  transform: rotate(45deg);
}

@media screen and (max-width: 800px) {
  .header__title {
    width: 57%;
    margin-left: 5%;
    line-height: 77px;
    font-size: 5em;
  }
  .header__subtitle {
    line-height: 25px;
    font-size: 1.1em;

    width: 40%;
  }

  .header__main-illustration {
    width: 50%;
    height: 65%;
  }
  .header__square {
    height: 500px;
    width: 500px;
  }
}
@media screen and (max-width: 580px) {
  .header__title {
    width: 57%;
    margin-left: 5%;
    line-height: 60px;
    font-size: 3.5em;
  }
  .header__subtitle {
    font-size: 1em;
  }
  .header__main-illustration {
    width: 60%;
    height: 50%;
  }
  .header__square {
    height: 450px;
    width: 450px;
  }
  .header__logo {
    height: 14%;
    width: 25%;
  }
}
@media screen and (max-width: 450px) {
  .header {
    height: 100vh;

    max-height: 680px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
  }

  .header__title {
    width: 57%;
    margin-left: 5%;
    line-height: 56px;
    font-size: 3.5em;
    font-weight: bold;
    z-index: 2;
  }
  .header__subtitle {
    font-size: 1.12em;

    width: 90%;
    position: absolute;
    left: 8.5%;

    bottom: 4%;
    z-index: 2;
  }

  .header__main-illustration {
    display: none;
  }
  .header__square {
    height: 450px;
    width: 450px;
    position: absolute;
    top: 14px;
    right: 0;
  }
}
@media screen and (max-width: 450px) {
  .header {
    max-height: 680px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__title {
    width: 75%;
    position: absolute;
    line-height: 56px;
    font-size: 3.8em;
    font-weight: bold;
    left: 12%;
  }
  .header__subtitle {
    font-size: 1.12em;

    width: 90%;
    position: absolute;
    left: 8.5%;

    bottom: 4%;
    z-index: 2;
  }

  .header__main-illustration {
    display: none;
  }
  .header__square {
    height: 450px;
    width: 450px;
    position: absolute;
    top: 14px;
    right: 0;
  }
}

@media screen and (max-width: 428px) {
  .header__square {
    height: 450px;
    width: 450px;
    position: absolute;
    top: 19px;
    right: -4%;
  }
}
@media screen and (max-width: 394px) {
  .header__square {
    height: 450px;
    width: 450px;
    position: absolute;
    top: 19px;
    right: -8%;
  }
}

@media screen and (max-width: 350px) {
  .header__square {
    height: 450px;
    width: 450px;
    position: absolute;
    top: 16px;
    right: -18%;
  }
}
@media screen and (max-width: 397px) {
  .header__title {
    width: 75%;
    position: absolute;
    line-height: 56px;
    font-size: 3.2em;
    font-weight: bold;
    left: 12%;
  }
}
@media screen and (max-width: 320px) {
  .header {
    height: 100vh;

    max-height: 680px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
  }

  .header__title {
    position: absolute;
    line-height: 56px;
    font-size: 3.2em;
    font-weight: bold;
    left: 12%;
  }
  .header__subtitle {
    font-size: 1.12em;

    width: 90%;
    position: absolute;
    left: 8.5%;

    bottom: 4%;
    z-index: 2;
  }

  .header__main-illustration {
    display: none;
  }
  .header__square {
    height: 430px;
    width: 430px;
    position: absolute;
    top: 14px;
    right: -20%;
  }
}
