.khan {
  padding: 105px 0 0;
  background-color: #f2f2f2;
}

.khan__container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 36px;
  width: 78%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: justify;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 0;
}

.khan__book-container {
  margin-top: -200px;
  display: flex;
  column-gap: 48px;
  position: relative;
  z-index: 0;
  top: 250px;
}

.khan__book-pic {
  width: 500px;
  height: 600px;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: 0.3s;
}

.khan__buy-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .khan__author {
    font-size: 28px;
  }

  .khan__title {
    font-size: 58px;
  }

  .khan__quote {
    font-size: 22px;
  }

  .khan__quote-author {
    font-size: 22px;
  }

  .khan__quote-author-subline {
    font-size: 22px;
  }

  .khan__buy-link {
    font-size: 28px;
  }
}
@media screen and (max-width: 780px) {
  .khan__book-container {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}
@media screen and (max-width: 600px) {
  .khan__book-pic {
    width: 100%;
    height: 100%;
  }
  .khan__book-container {
    margin-top: -200px;
  }
}
@media screen and (max-width: 450px) {
  .khan {
    padding: 85px 0 0;
  }
  .khan__quote {
    margin: 50px 0 36px;
    width: 90%;
  }
  .khan__container {
    width: 100%;
    align-items: center;
  }
  .khan__title {
    text-align: center;
  }
  .khan__buy-link {
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .khan__author {
    font-size: 25px;
  }

  .khan__title {
    font-size: 40px;
  }

  .khan__quote {
    font-size: 19px;
  }

  .khan__quote-author {
    font-size: 19px;
  }

  .khan__quote-author-subline {
    font-size: 19px;
  }

  .khan__buy-link {
    font-size: 25px;
  }
}
