.khan {
  padding: 105px 0 0;
  background-color: #f2f2f2;
}

.khan__container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 36px;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: justify;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 0;
}

.khan__book-container {
  margin-top: -200px;
  display: flex;
  column-gap: 48px;
  position: relative;
  z-index: 0;
  top: 250px;
}

.khan__book-pic {
  width: 500px;
  height: 600px;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: 0.3s;
}

.khan__buy-link:hover {
  opacity: 0.7;
}
