.oakley {
  background-color: #f2f2f2;
  padding: 160px 0 100px 0;
}
.oakley__two-columns {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.oakley__column-title {
  width: 28%;
}
.oakley__column-paragraph {
  width: 70%;
}
.oakley__title {
  line-height: 1.2;
  font-size: 20px;
  color: #2f80ed;
  margin: 0;
}
.oakley__paragraph {
  line-height: 34px;
  font-size: 20px;
  margin: 0;
}
