.popup {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  height: 170%;
  position: fixed;
}
.popup__container {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 9%;
  left: 77%;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
}
.popup__button-cross {
  position: absolute;
  top: -16px;
  left: 28px;
  background-color: transparent;
  border: 0;
  z-index: 6;
  cursor: pointer;
  display: none;
}
.popup__button-cross-image {
  width: 28px;
  height: 28px;
}
