.popup {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  height: 100%;
  position: fixed;
}
.popup__container {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 5%;
  left: 80%;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
}
.popup__button-cross {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: transparent;
  border: 0;
  z-index: 6;
  cursor: pointer;
}
.popup__button-cross-image {
  width: 15px;
  height: 15px;
}
