.resources {
  padding: 100px 0 217px;
}

.resources__title {
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}
.resources__subtitle {
  width: 60%;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 80px;
}

.resources__logo-zone {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.resources__logo {
  width: 270px;
  height: 38px;
}

@media screen and (max-width: 1100px) {
  .resources__logo-zone {
    flex-wrap: wrap;
    gap: 25px;
  }
}
@media screen and (max-width: 800px) {
  .resources__logo-zone {
    flex-wrap: wrap;
    gap: 25px;
  }
  .resources {
    padding-bottom: 180px;
  }
}
@media screen and (max-width: 450px) {
  .resources__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 320px) {
  .resources__subtitle {
    font-size: 22px;
  }
}
