.techniques {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techniques__title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.techniques__subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}
@media screen and (max-width: 930px) {
  .techniques {
    margin-left: 8%;
  }
}
@media screen and (max-width: 810px) {
  .techniques {
    margin-left: 6%;
  }
}
@media screen and (max-width: 730px) {
  .techniques {
    margin-left: 4%;
  }
}
@media screen and (max-width: 674px) {
  .techniques {
    margin-left: 1%;
  }
  .techniques__title {
    font-size: 45px;
  }
  .techniques__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 490px) {
  .techniques__title {
    font-size: 40px;

    margin: 0;
  }
  .techniques__subtitle {
    font-size: 18px;

    padding-top: 30px;
  }
}
