.two-columns {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.two-columns__column-title {
  width: 26%;
  padding-top: 0.3%;
}
.two-columns__column-paragraph {
  width: 70%;
}
.two-columns__title {
  line-height: 1.2;
  font-size: 20px;
  color: #2f80ed;
  margin: 0 0 0 20%;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 20px;
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__first-paragraph {
  padding-bottom: 5%;
}

@media screen and (max-width: 800px) {
  .two-columns__column-title {
    padding-top: 0.5%;
  }
  .two-columns__title {
    font-size: 18px;
  }
  .two-columns__paragraph {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .two-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .two-columns__column-title {
    width: 90%;
    padding-bottom: 8%;
  }
}

@media screen and (max-width: 320px) {
  .two-columns__column-paragraph {
    width: 90%;
  }
  .two-columns__title {
    font-size: 18px;
    margin: 0;
    text-align: center;
  }
  .two-columns__paragraph {
    font-size: 18px;
  }
}
