.videos {
  padding-top: 100px;
}

.videos__title {
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

.videos__subtitle {
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0 auto;
  padding-bottom: 0px;
  text-align: center;
}

.videos__content {
  list-style-type: none;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  position: relative;
  width: 100%;
  padding: 0;
  z-index: 0;
  bottom: -70px;
}

.videos__iframe {
  width: 515px;
  height: 316px;
  border: 0;
}

@media screen and (max-width: 1100px) {
  .videos__iframe {
    width: 435px;
    height: 236px;
  }
}

@media screen and (max-width: 930px) {
  .videos__iframe {
    width: 355px;
    height: 156px;
  }
}
@media screen and (max-width: 800px) {
  .videos__content {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .videos__iframe {
    width: 395px;
    height: 196px;
  }
  .videos__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 450px) {
  .videos__iframe {
    width: 300px;
    height: 150px;
  }
}
@media screen and (max-width: 320px) {
  .videos {
    padding-top: 20%;
  }
  .videos__iframe {
    width: 280px;
    height: 140px;
  }
  .videos__title {
    font-size: 45px;
  }
}
